{% extends 'base.html' %}
 
{% block content %}
<h1>Регистрация</h1>
 
<form method="post">
    {% csrf_token %}
<input type="hidden" name="next" value="{{ next }}" />
    <div class="form-error">{{ form.non_field_errors }}</div> <!--для вывода ошибок валидации, не связанных с заполнением того или иного поля-->
    {% for f in form %}
    <!-- в этом случае мы не можем менять интерфейс каждого поля отдельно, т.к. class одинаковый, но мы можем прописать отдельно в самой форме поля class-->
    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div> <!--будет выводиться ошибка (например: неверно заполнил поле,
    слаг должен состоять из латинских, цифр или знака подчеркивания.... и другие ошибки)-->
    {% endfor %}
    <p ><button type="submit">Регистрация</button></p>
</form>
 
{% endblock %}