{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>

<!--action нужен, чтобы показать, куда перекинуть, после отправки данных-->
<!--токен нужен, чтобы безопасно отправить данные по POST (проверяет именно пользователь отправил)-->
<!--если был GET запрос (убрать method="POST"), то токен не нужен-->
<!--ТЕГ lable для описания вводимого поля-->
<!--по name будут отображаться данные в request.GET-->

<form action="" method="POST">
    {% csrf_token %}
<!--    берем нашу форму и охватываем тегом p-->
    {{ form.as_p }}
    <p><button type="submit">Отправить</button></p>
</form>
{% endblock %}